

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.contact-list {
  list-style-type: none;
  padding: 0;
}

.contact-list li {
  margin-bottom: 15px;
}

.contact-list li a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.contact-list li a:hover {
  background-color: #ccc;
}
#wp{
  background-color:#25D366; 
  color:  #FFFFFF; 
}
#youtube{
  background-color:  #FF0000;
  color: #FFFFFF;
}
#fb{
  background-color: #1877F2;
  color: #FFFFFF;
}
#email{
  background-color: #78ace4;
}